################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HubPageExample/bin
/HubPageExample/obj
/.vs
