################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HubPageDemo/bin
/HubPageDemo/obj
/HubPageSample/bin
/HubPageSample/obj
/.vs
